<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <title> Task Translator &mdash; Error </title>

        <link rel="stylesheet" href="./../static/css/bootstrap.css">
        <link rel="stylesheet" href="./../static/css/over_style.css">
    </head>
    <body style="padding-left:.5%;">
        <div class="navbar header">
                <div class="navbar-inner header-inner">
                    <div style="display:flex;flex-direction:row;align-items:center;justify-content:space-between;">
                    <div>
                        <a class="brand" href="./..">
                            Task Translator
                        </a>
                    </div>
                    <div>
                        <button class="btn btn-primary btn-large" onclick="window.location.href='./..';">
                            Return to Translator
                        </button>
                    </div>
                </div>
                </div>
            </div>
        <div class="control-panel" style="width:50%;margin:200px auto;padding:20px;padding-bottom:4px;color:#333333;">
            <p style="font-size:100px;line-height:100px;font-weight:bold;color:#bd362f"> Ooops... </p>
            <p style="font-size:30px;line-height:35px;"> I'm so sorry. This should not happen. </p>
            <p style="font-size:20px;line-height:23px;"> Can we still be friends? </p>
            <br><br>
            <p style="font-size:10px;"> Unless you came here intentionally. In which case I hate you.</p>
        </div>
    </body>
</html>
