[Unit]
Description=CMS Log Service

[Service]
Type=Simple
ExecStart=$CMS_VENV_INSTALLATION_DIR/bin/cmsLogService
User=$CMS_USER
Slice=cms.slice

[Install]
WantedBy=multi-user.target
