{
    "_help": "There is no way to put comments in a JSON file; the",
    "_help": "fields starting with '_' are meant to be comments.",

    "_help": "Listening port and address for TaskOverviewWebServer.",
    "listen_address": "127.0.0.1",
    "listen_port": 8891,
    
    "_help": "Directory to search for tasks (you have to fill this yourself!).",
    "task_repository": "",

    "_help": "This is the end of this file."
}
