{
    "_help": "There is no way to put comments in a JSON file; the",
    "_help": "fields starting with '_' are meant to be comments.",

    "_help": "Listening port and address for TaskOverviewWebServer.",
    "listen_address": "127.0.0.1",
    "listen_port": 8891,
    
    "_help": "Directory to search for tasks (you have to fill this yourself!).",
    "task_repository": "",
    
    "_help": "Whether to automatically sync the task repository (only use this",
    "_help": "for git repositories).",
    "auto_sync": false,
    
    "_help": "Maximum number of simultaneous compilations (the processes will",
    "_help": "be created regardless and will stay idle if necessary).",
    "max_compilations": 5,

    "_help": "This is the end of this file."
}
