[Unit]
Description=Contest Management System (contest %i)
Requires=cms-logging.service postgresql.service
After=cms-logging.service postgresql.service

[Service]
Type=simple
WorkingDirectory=@CMS_DIR@
ExecStart=@CMS_DIR@/bin/cmsResourceService -a %i
User=cms

[Install]
WantedBy=default.target
