{% from cms.io.TaskInfo import TaskInfo %}
{% import json %}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <title> Overview of Available Tasks </title>

        <link rel="stylesheet" href="static/css/bootstrap.css">
        <link rel="stylesheet" href="static/css/cws_style.css">
        <link rel="stylesheet" href="static/css/over_style.css">
        <link rel="stylesheet" href="static/css/download.css">
        <link rel="stylesheet" href="static/css/slider.css">
        <link rel="stylesheet" href="static/css/dateslider.css">
        <link rel="stylesheet" href="static/css/tags.css">
        <link rel="stylesheet" href="static/css/rangeslider.css">
        <link rel="stylesheet" href="static/css/checkbox.css">

        <script src="static/jq/jquery-1.7.1.min.js"></script>
        <script src="static/js/slider.js"></script>
        <script src="static/js/dateslider.js"></script>
        <script src="static/js/rangeslider.js"></script>
        <script src="static/js/modal.js"></script>
        <script src="static/js/download.js"></script>
        <script src="static/js/overview.js"></script>

        <script>
            var __url_root = ".";
            var entries = {% raw json.dumps(TaskInfo.entries()) %};
            var desc = {% raw json.dumps(TaskInfo.desc()) %};
            var show_col = {};
            var criteria = { alg_diff:     { lower: 0, upper: 10 },
                             impl_diff:    { lower: 0, upper: 10 },
                             show_public:  true,
                             show_private: true,
                             only_before:  Infinity };

            function open_col_select()
            {
                open_modal('col-select');

                for(var i = 0; i < entries.length; ++i)
                    window.document.getElementById("col-" + entries[i]).checked = show_col[entries[i]];
            }

            function apply_col_select()
            {
                close_modal('col-select');

                for(var i = 0; i < entries.length; ++i)
                    show_col[entries[i]] = window.document.getElementById("col-" + entries[i]).checked;
                update();
                //update_table(entries, desc, show_col, criteria);

            }

            function open_row_select()
            {
                open_modal('row-select');

                update_sliders();
                range_slider_set("alg-diff", criteria.alg_diff.lower, criteria.alg_diff.upper);
                range_slider_set("impl-diff", criteria.impl_diff.lower, criteria.impl_diff.upper);
            }

            function apply_row_select()
            {
                close_modal('row-select');

                criteria.alg_diff = range_slider_get("alg-diff");
                criteria.impl_diff = range_slider_get("impl-diff");
                criteria.show_public = window.document.getElementById("public").checked;
                criteria.show_private = window.document.getElementById("private").checked;
                criteria.only_before = date_slider_get_val("uses");

                update();
            }

            function init()
            {
                if(__url_root[__url_root.length - 1] == '/')
                    __url_root = __url_root.substring(0, __url_root.length - 1);

                update(true, true);

                for(var i = 0; i < entries.length; ++i) show_col[entries[i]] = true;

                init_range_sliders();

                close_modal('col-select');
                close_modal('row-select');
                close_modal('error');

                window.setInterval(function() { if(!is_modal_opened()) update(); }, 5000);
            }

            window.addEventListener("load", init);
        </script>
    </head>

    <body>
        <iframe id="fr-download-helper" src="./static/dummy.html" style="display:none"></iframe>

        <div class="modal-backdrop invisible" id="modal-backdrop"></div>
        <div class="navbar header">
            <div class="navbar-inner header-inner">
                <div style="display:flex;flex-direction:row;align-items:center;justify-content:space-between;">
                    <div>
                        <a class="brand" href="./">
                            Overview of Available Tasks
                        </a>
                    </div>
                    <div>
                        <button class="btn btn-primary btn-large" onclick="open_col_select()">
                            Select columns
                        </button>

                        <button class="btn btn-primary btn-large" onclick="open_row_select()">
                            Add/Remove Search Criteria
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal wide" id="error-dialog">
            <div class="modal-header">
                <button type="button" class="close" onClick="close_modal('error')">&#xD7;</button>
                <h3>An error has occured...</h3>
            </div>
            <div class="modal-body">
                <p>
                I'm sorry, but I couldn't compile the statement for task <span id="task-name" class="task-name">???</span>. Maybe the information below helps:
                </p>

                <h6> Error message received from server </h6>
                <iframe id="error-msg" width="100%"></iframe>

                <h6> Compilation log </h6>
                <iframe id="error-log" width="100%"></iframe>
            </div>
            <div class="modal-footer">
            <button class="btn btn-primary" style="float:left;" id="retry-compilation" onClick="retry_compilation()">Retry</button>
                <button class="btn btn-secondary" onClick="close_modal('error')">Exit</button>
            </div>
        </div>

        <div class="modal wide" id="col-select-dialog">
            <div class="modal-header unselectable">
                <button type="button" class="close" onClick="close_modal('col-select')">&#xD7;</button>
                <h3>Select Columns</h3>
            </div>
            <div class="modal-body">
                <form name="col-select">
                    <div class="control-panel">
                        <h6>Columns to be shown</h6>
                        <div class="control-table" style="margin-top:2px;">
                            <div class="two-cols">
                                <div>
                                {% for key in TaskInfo.entries()[:len(TaskInfo.entries()) // 2] %}
                                    <div class="checkbox">
                                        <input type="checkbox" id="col-{{key}}">
                                        <label for="col-{{key}}">
                                        {% raw TaskInfo.desc()[key] %}
                                        </label>
                                    </div>
                                {% end %}
                                </div>

                                <div>
                                {% for key in TaskInfo.entries()[len(TaskInfo.entries()) // 2:] %}
                                    <div class="checkbox">
                                        <input type="checkbox" id="col-{{key}}">
                                        <label for="col-{{key}}">
                                        {% raw TaskInfo.desc()[key] %}
                                        </label>
                                    </div>
                                {% end %}
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                    <button class="btn btn-success" style="float:left;" onclick="apply_col_select()">Apply</button>
                    <button class="btn btn-secondary" onClick="close_modal('col-select')">Cancel</button>
            </div>
        </div>

        <div class="modal wide unselectable" id="row-select-dialog">
            <div class="modal-header">
                <button type="button" class="close" onClick="close_modal('row-select')">&#xD7;</button>
                <h3>Add/Remove Search Criteria</h3>
            </div>
            <div class="modal-body">
                <form name="row-select">
                    <div class="control-table">
                        <div class="two-cols">
                            <div>
                                <div class="control-panel">
                                    <h6> Algorithmic Difficulty </h6>
                                    <div class="range-slider" id="alg-diff" data-maxval="10">
                                    </div>
                                    <div class="range-slider-info" data-for="alg-diff">
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="control-panel">
                                    <h6> Implementation Difficulty </h6>
                                    <div class="range-slider" id="impl-diff"  data-maxval="10">
                                    </div>
                                    <div class="range-slider-info" data-for="impl-diff">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                            <div>
                                <div class="control-panel">
                                    <h6> Last used </h6>
                                    <label> All tasks used in the selected contests will be hidden. </label>
                                    <div class="dateslider" id="uses">
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="control-panel">
                                    <h6> Public vs. private </h6>
                                    <div class="mini-table">
                                        <div class="two-cols">
                                            <div class="checkbox">
                                                <input type="checkbox" id="private" value="private" checked>
                                                <label for="private">
                                                    Show private tasks
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <input type="checkbox" id="public" value="public" checked>
                                                <label for="public">
                                                    Show public tasks
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                </form>
            </div>
            <div class="modal-footer">
                    <button class="btn btn-success" style="float:left;" onclick="apply_row_select()">Apply</button>
                    <button class="btn btn-secondary" onclick="close_modal('row-select')">Cancel</button>
            </div>
        </div>

        <table class="table table-bordered overview" id="overview">
            <!-- data insert via javascript:fill_table() -->
        </table>

        <div id = "json-errors" class="alert alert-block alert-error notification json-info no-errors">
            <h4 class="alert-heading"> WARNING! </h4>
            <p style="margin-top:5px;"> The info.json files for the following tasks have issues:</p>
            <span id="tasks-with-issues">
                <!-- data insert in javascript:fill_table() -->
            </span>
        </div>
    </body>
</html>
